{% extends 'admin/adminbase.html.twig' %}
{% set page_title = 'Utilisateurs' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="page-header">
        {% include '/admin/partials/_page_header_partials.html.twig' %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <div class="d-flex gap-3 justify-content-end">
                    <a href="{{ path('app_admin_user_create') }}"  title="Nouvelle direction" class="rounded-pill btn btn-black" >
                      <i class="fa fa-plus"></i>
                      Ajouter
                    </a>
                    <a href="{{ path('app_admin_user_upload') }}"   title="Nouvelle direction" class="rounded-pill btn btn-secondary " >
                      <i class="fa fa-file-upload"></i>
                      Importer Liste
                    </a>
                  </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display table table-striped table-hover" id="basic-datatables">
                            <thead>
                                <tr>
                                    <th>Nom complet agent</th>
                                    <th>Email</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        {{ user.agent.identification.prenom ?? "" }} {{ user.agent.identification.nom ?? "" }}
                                    </td>
                                    <td>{{ user.email }}</td>
                                    <td class="text-center">
                                        <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="btn"> <i class="fa fa-eye text-primary"></i></a>
                                        <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn"> <i class="fa fa-edit text-secondary"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
