
<div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
            <div class="card-title">Répartition du personnel par direction</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            {{ render_chart(chartByDirection) }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
            <div class="card-title">Statut du Personnel</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <h5>Âge moyenne du personnel </h5>
                    <h4> <i class="fa fa-birthday-cake text-primary" aria-hidden="true"></i> {{ totalAverageAge }} ans</h4>
                    <hr>
                    <h6>Fonctionnaires : {{ fonctionnaires }}</h6>
                    <h6>Non Fonctionnaires : {{ nonfonctionnaires }}</h6>
                    <h6>Contractuels : {{ contractuels }}</h6>
                    <h6>Stagiaires : {{ stagiaires }}</h6>
                </div>
                <div class="col-md-8">
                    <div class="chart-container">
                      {{ render_chart(chartByAgeRange) }}
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
            <div class="card-title">Répartition du personnel par sexe</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            {{ render_chart(chartSexeByDirection) }}
          </div>
        </div>
      </div>
    </div>
</div>
