{% extends 'admin/adminbase.html.twig' %}
{% set page_title = 'Utilisateurs' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="page-header">
        {% include '/admin/partials/_page_header_partials.html.twig' %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <div class="d-flex gap-3 justify-content-end">
                    <a href="#"  title="Nouvelle direction" class="rounded-pill btn btn-black" >
                      <i class="fa fa-plus"></i>
                      Ajouter
                    </a>
                    <a href="{{ path('app_admin_user_upload') }}"   title="Nouvelle direction" class="rounded-pill btn btn-secondary " >
                      <i class="fa fa-file-upload"></i>
                      Importer Liste
                    </a>
                  </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display table table-striped table-hover" id="basic-datatables">
                            <thead>
                                <tr>
                                    <th>PageVisitee</th>
                                    <th>IpVisiteur</th>
                                    <th>Navigateur</th>
                                    <th>Date_action</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for visite in visites %}
                                <tr>
                                    <td>{{ visite.pageVisitee }}</td>
                                    <td>{{ visite.ipVisiteur }}</td>
                                    <td>{{ visite.navigateur |slice(0,30)}}</td>
                                    <td>{{ visite.dateAction ? visite.dateAction|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a href="{{ path('app_admin_visite_show', {'id': visite.id}) }}" class="btn"> <i class="fa fa-eye text-primary"></i></a>
                                        <a href="{{ path('app_admin_visite_edit', {'id': visite.id}) }}" class="btn"> <i class="fa fa-edit text-secondary"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
