{% extends './admin/adminbase.html.twig' %}
{% set page_title = 'Service' %}

{% block title %}Service{% endblock %}

{% block body %}
    <div class="page-header">
        {% include '/admin/partials/_page_header_partials.html.twig' %}
    </div>
    <div class="row">
        <div class="col-md-12">
           <div class="card">
                <div class="card-header">
                    <div class="card-title">Ajouter service</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                           {{ form_start(form, {'attr':{'class':'form'}}) }}
                            <div class="form-group form-group-default">
                                {{form_row(form.identification, {'attr': {'class': 'form-control js-example-basic-single', 'placeholder':'Nom complet agent...','id':'agent', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.matricule, {'attr': {'class': 'form-control', 'placeholder':'Matricule...','id':'matricule', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.fonction, {'attr': {'class': 'form-control', 'placeholder':'Fonction...','id':'fonction', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.cadre_statuaire, {'attr': {'class': 'form-control', 'placeholder':'Fonction...','id':'fonction', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.hierarchie, {'attr': {'class': 'form-control js-example-basic-single', 'placeholder':'Hiérarchie...','id':'hierarchie', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.grade, {'attr': {'class': 'form-control js-example-basic-single', 'placeholder':'Grade...','id':'grade', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.echelon, {'attr': {'class': 'form-control js-example-basic-single', 'placeholder':'Échelon...','id':'echelon', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.decision_contrat, {'attr': {'class': 'form-control js-example-basic-single', 'placeholder':'Décision ou Contrat...','id':'decisionContrat', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.numero_decision_contrat, {'attr': {'class': 'form-control', 'placeholder':'Numéro décision ou contrat...','id':'matricule', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.date_recrutement, {'attr': {'class': 'form-control', 'placeholder':'Date de Recrutement...','id':'dateRecrutement', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.banque, {'attr': {'class': 'form-control js-example-basic-single', 'placeholder':'Échelon...','id':'echelon', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.numeroCompte, {'attr': {'class': 'form-control', 'placeholder':'Numéro de Compte...','id':'numeroCompte', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.status, {'attr': {'class': 'form-control js-example-basic-single', 'placeholder':'Status agent...','id':'statusAgent', 'required':'required' }}) }}
                            </div>
                            <div class="card-action">
                                <button type="submit" class="btn btn-secondary">Modifier</button>
                                <a class="btn btn-danger" href="{{ path('app_admin_agent_index') }}">Annuler</a>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
        $(document).ready(function () {
        // In your Javascript (external .js resource or <script> tag)

            // Custom JavaScript for the service form can be added here
            console.log("Service form loaded successfully.");
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .select2-container--default .select2-selection--single {
            height: 38px;
            border-radius: 4px;
        }
    </style>
{% endblock %}

