        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="{{path('app_admin_dashboard_index')}}" class="logo">
              <img
                src="{{asset('assets/img/kaiadmin/logo_light.svg')}}"
                alt="navbar brand"
                class="navbar-brand"
                height="20"
              />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">

              <li class="nav-item {{app.current_route == 'app_admin_dashboard_index' ? 'active' : ''}}">
                <a href="{{ path('app_admin_dashboard_index') }}">
                  <i class="fas fa-home"></i>
                  <p>Tableau de Bord</p>
                </a>
              </li>
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">Primaire</h4>
              </li>
              <li class="nav-item {{app.current_route == 'app_admin_direction_index' ? 'active' : ''}}">
                <a href="{{ path('app_admin_direction_index') }}">
                  <i class="fas fa-desktop"></i>
                  <p>Direction</p>
                </a>
              </li>
              <li class="nav-item {{app.current_route == 'app_admin_service_index' ? 'active' : ''}}">
                <a href="{{ path('app_admin_service_index') }}">
                  <i class="fas fa-desktop"></i>
                  <p>Service</p>
                </a>
              </li>
              <li class="nav-item {{app.current_route == 'app_admin_poste_index' ? 'active' : ''}}">
                <a href="{{ path('app_admin_poste_index') }}">
                  <i class="fas fa-desktop"></i>
                  <p>Poste</p>
                </a>
              </li>
              <li class="nav-item {{app.current_route == 'app_admin_agent_index' ? 'active' : ''}}">
                <a href="{{ path('app_admin_agent_index') }}">
                  <i class="fas fa-users"></i>
                  <p>Agent</p>
                </a>
              </li>
              <li class="nav-item {{app.current_route == 'app_admin_affectation_index' ? 'active' : ''}}">
                <a href="{{ path('app_admin_affectation_index') }}">
                  <i class="fas fa-users"></i>
                  <p>Affectation</p>
                </a>
              </li>
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">Suivi Évaluation</h4>
              </li>
              <li class="nav-item {{app.current_route == 'app_admin_programme_index' ? 'active' : ''}}">
                <a href="{{ path('app_admin_programme_index') }}">
                  <i class="fas fa-book"></i>
                  <p>Programme</p>
                </a>
              </li>
              <li class="nav-item {{app.current_route == 'app_admin_action_index' ? 'active' : ''}}">
                <a href="{{ path('app_admin_action_index') }}">
                  <i class="fas fa-book"></i>
                  <p>Action</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
