{% extends 'admin/adminbase.html.twig' %}
{% set page_title = 'Direction' %}

{% block title %}Direction{% endblock %}

{% block body %}
    <div class="page-header">
        {% include '/admin/partials/_page_header_partials.html.twig' %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <div class="d-flex gap-3 justify-content-end">
                    <a href="{{ path('app_admin_direction_create') }}"  title="Nouvelle direction" class="rounded-pill btn btn-black" >
                      <i class="fa fa-plus"></i>
                      Ajouter
                    </a>
                    <a href="{{ path('app_admin_direction_upload') }}"   title="Nouvelle direction" class="rounded-pill btn btn-secondary " >
                      <i class="fa fa-file-upload"></i>
                      Importer
                    </a>
                  </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display table table-striped table-hover" id="basic-datatables">
                            <thead>
                                <tr>
                                    <th class="text-center">Direction</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for direction in directions %}
                                    <tr>
                                        <td class="text-center">{{ direction.nomDirection }}</td>
                                        <td class="text-center">
                                          <a href="{{ path('app_admin_direction_show', {'id': direction.id}) }}" class="btn"> <i class="fa fa-eye text-primary"></i></a>
                                          <a href="{{ path('app_admin_direction_edit', {'id': direction.id}) }}" class="btn"> <i class="fa fa-edit text-secondary"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





