{% extends './admin/adminbase.html.twig' %}
{% set page_title = "Programme" %}

{% block title %}Programme{% endblock %}

{% block body %}
    <div class="page-header">
        {% include '/admin/partials/_page_header_partials.html.twig' %}
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row row-demo-grid">
              <div class="col-md-6 ms-auto me-auto">
                <table class="table">
                    <tbody>
                        <tr>
                            <th colspan="3"> <h1>{{programme.codeProgramme}} : {{programme.nomProgramme}}</h1> </th>
                        </tr>
                            <th>Code</th>
                            <td>{{ programme.codeProgramme }}</td>
                        </tr>
                        <tr>
                            <th>Programme</th>
                            <td>{{ programme.nomProgramme }}</td>
                        </tr>
                            <th>Programme</th>
                            <td>{{ programme.coutProgramme }}</td>
                        </tr>
                            <th>Responsable</th>
                            <td><a href="{{path('app_admin_agent_show', {id: programme.responsableProgramme.id})}}" title="Profil de Momar" >{{ programme.responsableProgramme.prenom }}  {{ programme.responsableProgramme.nom}}</a></td>
                        </tr>
                            <th>Année</th>
                            <td>{{ programme.anneeProgramme }}</td>
                        </tr>
                        <tr>

                            <td colspan="2">
                                <div class="d-flex gap-1">
                                    <a class="btn btn-primary" href="{{ path('app_admin_programme_index') }}"><i class="fa fa-home"></i> Retour</a>
                                    <a class="btn btn-warning" href="{{ path('app_admin_programme_edit', {'id': programme.id}) }}"><i class="fa fa-edit"></i> Modifier</a>
                                    <form action="{{ path('app_admin_programme_delete', {id:programme.id})}}" method="POST">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ programme.id) }}">
                                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-alt"></i> Supprimer</button>
                                    </form>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>



{% endblock %}

