{% extends 'admin/adminbase.html.twig' %}
{% set page_title = 'Technicien' %}

{% block title %}Technicien{% endblock %}

{% block body %}
    <div class="page-header">
        {% include '/admin/partials/_page_header_partials.html.twig' %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <div class="d-flex align-items-center">
                    <h4 class="card-title">Liste des techniciens</h4>
                    <a href="{{ path('app_admin_technicien_create') }}" data-original-title="Add New Row"  data-placement="left"  title="Nouvel technicien" class="rounded-pill btn btn-black btn-lg ms-auto" >
                      <i class="fa fa-plus"></i>
                      Ajouter
                    </a>
                  </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display table table-striped table-hover" id="basic-datatables">
                            <thead>
                                <tr>
                                    <th class="text-center">Agent</th>
                                    <th class="text-center">Matricule</th>
                                    <th class="text-center">actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for technicien in techniciens %}
                                <tr>
                                    <td class="text-center">{{ technicien.infoTechnicien.agent.identification.prenom }} {{ technicien.infoTechnicien.agent.identification.nom }}</td>
                                    <td class="text-center">{{ technicien.infoTechnicien.agent.matricule }}</td>
                                    <td class="text-center">
                                        <a href="{{ path('app_admin_technicien_show', {'id': technicien.id}) }}" class="btn"> <i class="fa fa-eye text-primary"></i></a>
                                        <a href="{{ path('app_admin_technicien_edit', {'id': technicien.id}) }}" class="btn"> <i class="fa fa-edit text-secondary"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="3">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
