{% extends './admin/adminbase.html.twig' %}
{% set page_title = 'Service' %}

{% block title %}Service{% endblock %}

{% block body %}
    <div class="page-header">
        {% include '/admin/partials/_page_header_partials.html.twig' %}
    </div>
    <div class="row">
        <div class="col-md-12">
           <div class="card">
                <div class="card-header">
                    <div class="card-title">Ajouter service</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            {{ form_start(form, {'attr':{'class':'form'}}) }}
                            <div class="form-group form-group-default">
                                {{form_row(form.type_service, {'attr': {'class': 'form-control', 'placeholder':'Type de service...','id':'codeDirection', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.nom_service, {'attr': {'class': 'form-control', 'placeholder':'Nom du service...','id':'nomService', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.structure_rattachee, {'attr': {'class': 'form-control js-example-basic-single', 'placeholder':'Nom de la direction...','id':'nomDirection', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.service_parent, {'attr': {'class': 'form-control js-example-basic-single', 'placeholder':'Nom du service parent...','id':'nomServiceParent', 'required':'required' }}) }}
                            </div>
                            <div class="form-group form-group-default">
                                {{form_row(form.description, {'attr': {'class': 'form-control','id':'comment', 'required':'required' }}) }}
                            </div>
                            <div class="card-action">
                                <button type="submit" class="btn btn-primary">Valider</button>
                                <a class="btn btn-danger" href="{{ path('app_admin_service_index') }}">Annuler</a>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
        $(document).ready(function () {
        // In your Javascript (external .js resource or <script> tag)

            // Custom JavaScript for the service form can be added here
            console.log("Service form loaded successfully.");
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .select2-container--default .select2-selection--single {
            height: 38px;
            border-radius: 4px;
        }
    </style>
{% endblock %}

