{% extends 'admin/adminbase.html.twig' %}
{% set page_title = 'Agent' %}

{% block title %}Agent{% endblock %}

{% block body %}
    <div class="page-header">
        {% include '/admin/partials/_page_header_partials.html.twig' %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <div class="d-flex align-items-center">
                    <h4 class="card-title">Liste des agents</h4>
                    <a href="{{ path('app_admin_affectation_create') }}" data-original-title="Add New Row"  data-placement="left"  title="Nouvel agent" class="rounded-pill btn btn-black btn-lg ms-auto" >
                      <i class="fa fa-plus"></i>
                      Ajouter
                    </a>
                  </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display table table-striped table-hover" id="basic-datatables">
                            <thead>
                                <tr>
                                    <th class="text-center">Agent</th>
                                    <th class="text-center">Matricule</th>
                                    <th class="text-center">Service</th>
                                    <th class="text-center">Poste</th>
                                    <th class="text-center">actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for affectation in affectations %}
                                <tr>
                                    <td class="text-center">{{ affectation.agent.prenom }} {{ affectation.agent.nom }}</td>
                                    <td class="text-center">{{ affectation.agent.matricule }}</td>
                                    <td class="text-center">{{ affectation.service.nomService }}</td>
                                    <td class="text-center">{{ affectation.poste.nomPoste }}</td>
                                    <td class="text-center">
                                        <a href="{{ path('app_admin_affectation_show', {'id': affectation.id}) }}" class="btn"> <i class="fa fa-eye text-primary"></i></a>
                                        <a href="{{ path('app_admin_affectation_edit', {'id': affectation.id}) }}" class="btn"> <i class="fa fa-edit text-secondary"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="6">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
