{% extends 'admin/adminbase.html.twig' %}
{% set page_title = 'Matériel Informatique' %}

{% block title %}Matériel Informatique{% endblock %}

{% block body %}
    <div class="page-header">
        {% include '/admin/partials/_page_header_partials.html.twig' %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <div class="d-flex gap-3 justify-content-end">
                    <a href="{{ path('app_admin_matos_informatique_create') }}"  title="Nouveau matériel" class="rounded-pill btn btn-black" >
                      <i class="fa fa-plus"></i>
                      Ajouter
                    </a>
                    <a href="{{ path('app_admin_matos_informatique_upload') }}"   title="Importer Liste Matériel Informatique" class="rounded-pill btn btn-secondary " >
                      <i class="fa fa-file-upload"></i>
                      Importer Liste
                    </a>
                  </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display table table-striped table-hover" id="basic-datatables">
                            <thead>
                                <tr>
                                    <th>Matériel</th>
                                    <th>Numéro de série</th>
                                    <th>Date de reception</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for matos_informatique in matos_informatiques %}
                                <tr>
                                    <td>{{ matos_informatique.marqueMatos|capitalize }} {{ matos_informatique.modeleMatos|capitalize }}</td>
                                    <td>{{ matos_informatique.snMatos }}</td>
                                    <td>{{ matos_informatique.dateReception ? matos_informatique.dateReception|date('Y-m-d') : '' }}</td>
                                    <td class="text-center">
                                      <a href="{{ path('app_admin_matos_informatique_show', {'id': matos_informatique.id}) }}" class="btn"> <i class="fa fa-eye text-primary"></i></a>
                                      <a href="{{ path('app_admin_matos_informatique_edit', {'id': matos_informatique.id}) }}" class="btn"> <i class="fa fa-edit text-secondary"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
